<h3>Welcome <%= @user.name %></h3>
<%= link_to "Book Appointment", new_user_appointment_path(@user) %>
<br>
<input type="hidden" id="hdnSession" data-value=<%=@user.id %> />
<button id="getApptList">View Appointments</button>

<div id="appointments">
  <ul id="appointmentTime">

  </ul>
</div>

<div id="appointment">

</div>
<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script type="text/javascript" charset="utf-8">
$(document).ready(function () {

  function getAppt(id){
    debugger
    $.get(`/appointments/${id}.json`, function(data){
      console.log(data)
    })
  }

class dateTime {
  constructor (time) {
    this.time = time
  }
  formatTime(){
    var timeArray = this.time.split("-")
    var year = timeArray[0]
    var month = timeArray[1]
    var endString = timeArray[2]
    var day = endString.slice(0,2)
    var time = endString.slice(3,8)
    //debugger

    return (`${month} ${day} ${year} at ${time}`)
  }
}

  $("#getApptList").on("click", getApptList)
  function getApptList(){
    $.get("/appointments.json", function(data){
      data.forEach(function(thing){
          let now = new dateTime(thing["time"])
          let apptId = thing["id"]
          $("#appointmentTime").append(`<li>${now.formatTime()} <button onClick="alert('this hit')">View Appointment</button></li>`)
        })
    })
  }



});
</script> -->
